<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{title}} | Metalsmith Page</title>
	<link type="text/css" rel="stylesheet" media="all" href="../../main.css">
</head>
<body>
	<div class="main-wrapper">
		{{#if template_product}}
			{{>page}}
		{{/if}}
	</div>
</body>
</html>
